    :root {
      --color1: #dfdfdf;
      --color2: #cbcbcb;
      --color3: #83c5be;
      --color4: #e2b575;
      --colorLetras0: #787878;
      --colorLetras1: #edf2f4;
      --colorLetras2: #333;
      --colorLetras3: #fff;

      --color-background-claro: #f7f7f7a2;
      --color-background-tarjetas-gris: #dfdfdf;
      --color-background-tarjetas-blanco: #fff;

      --color-nav-menu: #787878;
    }

    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    body {
      /* SACAR!! tarda en volver la manito para clikear sobre botones*/
      cursor: url(img/huellitaCursor.png), auto !important;

      /* tenia un desplazamiento hacia el costado derecho el home */
      overflow-x: hidden;
      background-color: var(--color-background-claro);
      font-size: 1.125rem;
      /* line-height: 1.5; */
      color: var(--colorLetras0);
      /* background: #fff; */
      text-rendering: optimizeLegibility;
    }

    html {
      scroll-behavior: smooth;
      /* font-family: Roboto, sans-serif; */
      /* font-family: 'Amatic SC', cursive;
      font-family: 'Bad Script', cursive;
      font-family: 'Poiret One', cursive;
      font-family: 'Sono', sans-serif; 
      font-family: 'Lobster', cursive;
      font-family: 'Caveat', cursive;*/
      font-family: 'Dancing Script', cursive;
      font-family: 'Unica One', cursive;
    }

    h2 {
      /* font-family: 'Unica One', cursive;   */
      /* asi muestra la currier antes, no la parecida a comicsans, hasta que encuentra la cursiva de google fonts
      font-family: 'Dancing Script',"Courier New", cursive; */
      font-family: 'Dancing Script', 'Arial', cursive;
      /* font-weight: 500; */
      color: var(--colorLetras2);
    }

    .titulo2 {
      font-size: 2.5rem;
      /* font-weight: bolder; */
      text-align: center;
      margin: 1em .3em 1.3em .3em;
    }



    /*  navbar //////////////////////////////////////////////////////////
    *********************FALTA ARREGLAR < <<<<<<<<<<<<<<<<<<<<<<<<<<<<  */
    .nav {
      width: 100%;
      background-color: var(--color2);
      display: flex;
      align-items: center;
      padding: 0 2em 0 0.7em;
    }


    /* .nav>.nav-list {
      display: flex;
      gap: 2rem;
    } */
    .nav-list {
      display: flex;
      gap: 2rem;
    }

    .nav-header {
      flex: 0.95;
      /* *******************************FALTA ARREGLAR VER*********************** */
      /* justify-content: flex-end; no andaaa, align end tampoco, float right/end tampoco */
      /* display: flex;
      float: end;
      align-items: flex-end; */
      padding-left: 1rem;
    }

    .nav-list li {
      list-style-type: none;
      /* 
      list-style-type: none;  ccs1 ? 
      no funciona text-decoration none**********VER********************/
      transition: .6s;
    }

    .nav-list li a {
      text-decoration: none;
      font-size: .9em;
      font-family: 'Unica One', cursive;
      font-weight: 500;
      color: var(--color-nav-menu);
      letter-spacing: 1.5px;
      transition: .6s;
      /* cursor: url(img/huellitaCursorPointer.png), pointer !important; */
    }

    .nav-list li a:hover {
      color: var(--colorLetras2);
      font-weight: 900;
      transform: scale(1.05);
    }

    .nav-list li:hover {
      transform: scale(1.05);
    }


    #nav-check {
      display: none;
    }


    /*  ESTABA  @media (max-width: 480px) { */
    @media (max-width: 700px) {
      .nav {
        padding: 1rem;
      }

      .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 0.2rem;
        /* --------------btn png------------- */
        margin: 1.8em 1.2em 1.5em 1.2em;
        background-image: url(img/pngwinghamburg.png);
        background-repeat: no-repeat;
        z-index: 900;
        opacity: 20%;
      }

      .nav-btn label {
        display: inline-block;
        width: 50px;
        padding: 13px;
      }

      .nav-list li {
        width: 100%;
        margin-top: 1.5rem;
      }

      /* ver apunte platzi < ~   ¨2 slidescss_1a0d5¨ */
      #nav-check:checked~.nav-list {
        /* height: calc(100vh - 50px); */
        height: 100vh;
        padding-top: 2em;
      }

      .nav>.nav-list {
        position: absolute;
        display: flex;
        flex-direction: column;
        float: end;
        gap: 1rem;
        width: 100%;
        background-color: var(--colorLetras2);
        z-index: 20;
        height: 0;
        transition: all 0.3s ease-in;
        top: 6rem;
        left: 0;
        /* padding: 2em; */
        overflow: hidden;
        max-height: fit-content;
      }

      /* hace que se vea cuando esta cerrada,************************************************************** */
      .nav-list li a {
        padding: 2em;
        font-size: 1.1em;
      }
    }

    nav img {
      width: 4.2em;
      float: left;
      opacity: 60%;
      /* margin: 2em 0 0 2em; */
      padding: 1em;
      text-decoration: none;
    }




    /* portada grid///////////////////////////////////////////////////////////  */
    .hero {
      position: relative;
      display: grid;
      width: 100%;
      height: 92vh;
      /* grid-template-columns: minmax(300px, 3fr) 4fr;  3fr es el ancho de donde estan las letras, 4 fr donde esta la imagen*/
      grid-template-columns: minmax(300px, 4fr) 3fr;
      /* grid-auto-rows: 500px; */
      grid-auto-rows: 95vh;
      /* funciona como height? */
      /* border-bottom: 1px solid #ddd; */
      padding: 20px;
      overflow: hidden;
      background-color: var(--color2);
      background: linear-gradient(90deg, #cdcdcd 20%, #00000057);
    }

    .hero .hero-img {

      /* probar como background img */
      width: 120%;
      /* height: 100%; */
      object-fit: contain;
      /* padding-left: 3em; */
      /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
      opacity: 85%;

      /* agregado para mover un poquito a la derecha, probar lo mismo para phone, y ponerlo encima del titulo */
      position: relative;
      right: 7%;
      /* top: 3%; */
      bottom: -7%;
    }

    .hero .hero-portada {
      align-self: center;
      padding-left: 40px;
      z-index: 9;

      /* las redes tienen drop-shadow tmb, se suman a estas, 
      que son para el titulo y subt */
      filter: drop-shadow(1px 1px 10px #00000044);


      /* ***************************************************
      arreglar altura para pantalla grande
      con media queries, asi modifica mucho en phone */
      /* height: 63vh; */
    }

    .hero-portada .portada-titulo {
      color: var(--colorLetras1);
      color: var(--colorLetras2);
      font-size: 6rem;
      font-weight: bolder;
      margin-bottom: 24px;
      font-family: 'Lobster', cursive;
      /* nop */
      font-family: 'Dancing Script', cursive;
      /* filter: drop-shadow(1px 1px 10px #00000044); */
    }

    .hero-portada .portada-subtitulo {
      color: var(--colorLetras1);
      font-size: 1.4rem;
      letter-spacing: 3px;
      margin-bottom: 24px;
      font-family: 'Caveat', cursive;
      font-family: 'Amatic SC', cursive;
      font-family: 'Unica One', cursive;
      font-weight: 500;
    }

    .hero-portada div {
      margin: 2em 0 2em 0;
      width: 100vh;
    }



    /* redes portada /////////////////////////////////////////////////////////  */
    .redes {
      /* display: inline; */
      display: inline-flex;
    }

    .redes ul {
      display: flex;
      font-size: 3em;
    }

    .redes-portada {
      /* margin: 1rem; */
      color: var(--color4);
    }

    .redes-portada li {
      display: inline-block;
    }

    .redes-portada li a {
      color: var(--color4);
      margin: .4em .4em .4em 0;


      filter: drop-shadow(1px 2px 10px #00000066);

      filter: drop-shadow(0 8px 16px 0 rgb(0 0 0 / 0%));

      filter: drop-shadow(1px 2px 1px #00000066);


    }


    /* /////////////////ver breakpoints///////////////////////////////////////// */
    /* media queries portada /////////////////////////////////////////////////// */
    /* media queries portada /////////////////////////////////////////////////// */
    @media (min-width: 1024px) {
      .hero {
        padding: 20px 50px;
      }
    }

    @media screen and (max-width: 768px) {
      .hero {
        grid-template-columns: minmax(300px, 400px);
        justify-content: center;
        /* saco background, ajusto por media queries ******************* */
        background-image: url("img/portada/portadaPhone.png");
        background-repeat: no-repeat;
        /* background-position: right;
        background-size: contain; */
      }

      .hero .hero-img {
        grid-template-columns: minmax(300px, 400px);
        justify-content: center;
        background-image: url("img/portada/portadaPhone.png");
        background-repeat: no-repeat;
        /* background-position: right; */
        /* background-size: contain; */
        opacity: 50%;
      }



      /* media extra, no dejar todos, ver los breakpoints*****5-9-23*********
      ************************************************************ */
      @media screen and (max-width: 768px) {
        .hero {
          position: relative;
          display: grid;
          width: 100%;
          height: 93vh;
          grid-template-columns: minmax(300px, 4fr) 3fr;
          /* grid-auto-rows: 500px; */
          grid-auto-rows: 95vh;
          /* border-bottom: 1px solid #ddd; */
          padding: 20px;
          overflow: hidden;
          background-color: var(--color2);
          background: linear-gradient(90deg, #e9e9e9c2 20%, #e70e0ef7);
          background: linear-gradient(90deg, #cdcdcd 20%, #00000057);
        }

        /* ******************5.9.23*************** */
        .hero .hero-img {
          /* display: none; */
          width: 200%;
          position: relative;
          right: 25%;
          top: 10%;
          opacity: 70%;
        }
      }

    }


    @media (max-width: 425px) {

      .hero .hero-portada {
        align-self: center;
        padding: 0 20px;
      }

      .hero-portada .portada-titulo {
        /* font-size: 2.5rem; */
        font-size: 20vw;
        font-weight: bold;
      }

      .hero-portada .portada-subtitulo {
        font-size: 1.4rem;
      }


      .hero {
        position: relative;
        /* display: grid; */
        width: 100%;
        /* height: 91vH; */
        grid-template-columns: minmax(300px, 4fr) 3fr;
        /* grid-auto-rows: 500px; */
        grid-auto-rows: 95vh;
        /* border-bottom: 1px solid #ddd; */
        /* padding: 2rem; */
        overflow: hidden;
        background-color: var(--color2);
        background: linear-gradient(90deg, #cdcdcd 20%, #00000057);
      }



      /* ******************5.9.23*************** */
      .hero .hero-img {
        /* display: none; */
        width: 900%;
        position: relative;
        right: 400%;
        top: -2%;
        opacity: 30%;
      }
    }





    /* grilla menu pagina principal /////////////////////////////////////////////*/
    .menu {
      padding: 3em 2em 5em 2em;
      background-color: var(--color-background-claro);
    }

    .menu-grilla {
      display: grid;
      grid-template-columns: repeat(auto-fit, 200px);
      gap: 25px;
      justify-content: center;
      margin: 0 2.5em 2.5em 2.5em;
    }

    .menu-grilla-item {
      background-color: var(--color1);
      padding: 15px;
      border-radius: 3em;
      transition: 1s;
    }

    .menu-grilla-item img:hover {
      transform: scale(0.8);
    }

    .menu-grilla-item img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: 1s;
    }





    /* sobre nosotros //////////////////////////////////////////////////////////// */
    .about {
      margin: 4em 7em 3em 7em;
    }

    .about h3 {
      /* font-weight: 200; */
      /* color: var(--colorLetras2); */
      font-family: 'Unica One', cursive;
      font-size: 1.1em;
      letter-spacing: 3px;
    }

    /* margen en phone */
    @media (max-width: 425px) {
      .about {
        margin: 4em 2.6em 3em 2.6em;
      }
    }



    /* volver arriba btn fixed /////////////////////////////////////////////////// */
    .volverArriba {
      font-size: 2em;
      position: fixed;
      right: 2%;
      /* top: 80%; */
      bottom: 12%;
      box-shadow: 0 8px 16px 0 rgb(0 0 0 / 0%), 0 6px 20px 0 rgb(0 0 0 / 19%);
      padding: 0.2em 0.3em 0.2em 0.3em;
      border-radius: .4em;
    }

    .volverArriba i:active {
      color: var(--color2);
    }

    .volverArriba i:hover {
      color: var(--color4);
    }

    .volverArriba i {
      color: var(--color2);
    }










    /* tarjetas flexbox /////////////////////////////////////////////////////// */
    .container {
      width: 90%;
      margin: 50px auto;
    }

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-flow: wrap;
      gap: 0.1px;
    }

    .card {
      width: 20%;
      background-color: var(--color-background-tarjetas-blanco);
      border: 1px solid var(--color1);
      margin-bottom: 50px;
      transition: 0.7s;
      border-radius: 3em;
    }

    .card-header {
      text-align: center;
      padding: 50px 10px;
      background-color: var(--color-background-tarjetas-gris);
      border-top-left-radius: 40px; 
      border-top-right-radius: 40px;
    }

    .card-header img{
      width: 100%;
    }

    .card-body {
      padding: 30px 20px;
      text-align: center;
      font-size: 18px;
    }

    .card-body .btn {
      display: block;
      text-align: center;
      margin-top: 30px;
      text-decoration: none;
      padding: 10px 5px;
      /* color: #fff; */
    }

    .btn-tarjeta {
      display: block;
      color: var(--colorLetras0);
      text-align: center;
      margin-top: 30px;
      text-decoration: none;
      padding: 10px 5px;
      font-family: 'Unica One', cursive;
    }

    .card-body p {
      font-family: 'Unica One', cursive;
    }

    .card:hover {
      transform: scale(1.05);
      box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
    }

    @media screen and (max-width: 1000px) {
      .card {
        width: 40%;
      }
    }

    @media screen and (max-width: 620px) {
      .container {
        width: 100%;
      }

      .card {
        width: 80%;
      }
    }




    /* footer ///////////////////////////////////////////////////////////////// */
    footer {
      /* align-items: center; */
      background-color: var(--color1);
      text-align: center;
      font-family: 'Unica One', cursive;
      /* position: fixed;
      left: 0;
      bottom: 0;
      width: 100%; */
      padding: 0.5em;
    }

    ul li {
      margin: 0 0.5rem;
    }

    a {
      color: var(--color-nav-menu);
      text-decoration: none;
      transition: all 0.2s ease;
      /* cursor: url(img/huellitaCursorPointer.png), pointer !important; */
    }

    a:hover {
      /* color: #2e2e2e; */
      color: var(--colorLetras2);
    }

    a.active {
      /* color: #2e2e2e; */
      color: var(--colorLetras2);
    }

    .social,
    .footer-text {
      margin: 1rem;
    }

    .social li {
      display: inline-block;
    }